html,header,div,body,main,h1,h2,h3,p,img,a{
    padding: 0;
    margin: 0;
    vertical-align: 0;
}
body{
    background-color: #000;
    color: #fff;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.header_warapper{
    margin: 0 auto;
    text-align: center;
}

.header_title{
    padding-top: 50px;
}

.header_title h2{
    font-family: "DotGothic16";
    font-size: 40px;
    padding-bottom: 20px;
}

.header_title h1{
    font-family: "Press Start 2P";
    font-size: 80px;
}

.header_contents_warapper{
    width: 100%;
    display: flex;
    padding-top: 40px;
    margin: 0 auto;
}

.header_contents{
    background-color: #000;
    margin: 0 auto;
}

.header_contents ul{
    display: flex;
    margin-top: 20px;
}
.header_contents li{
    font-size: 30px;
    list-style: none;
    padding: 20px;
}
.header_contents a{
    color: #fff;
    text-decoration: none;
}
.header_contents a:hover{
    color: rgb(124, 51, 124);
}

.header_contents_kinou{
    width: 500px;
    display: flex;
    font-size: 50px;
    justify-content: space-between;
    margin: 0 auto;
}
.header_contents_kinou i{
    margin: 10px;
    color: #fff;
}
.header_contents_kinou i:hover{
    color: rgb(122, 0, 122);
}

.kensaku{
    border: solid 2px #fff;
    border-radius: 50px;
    width: 500px;
}

.kensaku i{
    font-size: 40px;
}

.main_warapper{
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.gametitle_list{
    display: flex;
}

.game_images img{
    size: 100px;
}