<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <script src="../statics/js/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Skin Uri-Buy</title>
</head>

<body>
    <header>
        <!-- ヘッダーの背景と文字部分 -->
        <div class="header_wrapper">
            <div class="header_title">
                <h2>買えないをどこでも</h2>
                <h1>Skin Uri</h1>
            </div>
            <!-- ヘッダーのコンテンツ部分 -->
            <div class="header_contents_warapper">
                <div class="header_contents">
                    <ul>
                        <a href="../templates/index.html#top">
                            <li>HOME</li>
                        </a>
                        <a href="../templates/shop.html">
                            <li>SKINS SHOPS</li>
                        </a>

                    </ul>
                </div>
                <div class="header_contents_kinou">
                    <div class="kensaku">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    <a href="../templates/account.html">Login</a>
                    <a href="">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_wrapper">
            <h2>支払い/最終確認</h2>
            <ul>
                <li>クレジットカード</li>
                <li>後払い(paidy)</li>
                <li>着払い</li>
            </ul>
            <!-- モーダルを開くボタン -->
            <button class="modal-open js-modal-open">購入する</button>

            <!-- モーダル本体 -->
            <div class="modal js-modal">
                <div class="modal-container">
                    <!-- モーダルを閉じるボタン -->
                    <div class="modal-close js-modal-close">×</div>
                    <!-- モーダル内部のコンテンツ -->
                    <div class="modal-content">
                        <h2>本当によろしいですか？</h2>
                        <div class="buy_button">
                        <a href="../templates/complite.html">購入する</a>
                    </div>
                    </div>
                </div>
            </div>
    </main>
    <footer>
        <div class="footer_title">
            <h2>Skin Uri</h2>
        </div>
    </footer>
</body>

</html>