<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="javascript" href="../statics/js/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Skin Uri</title>
</head>

<body>
    <header>
        <!-- ヘッダーの背景と文字部分 -->
        <div class="header_wrapper">
            <div class="header_title">
                <h2>買えないをどこでも</h2>
                <h1>Skin Uri</h1>
            </div>
            <!-- ヘッダーのコンテンツ部分 -->
            <div class="header_contents_warapper">
                <div class="header_contents">
                    <ul>
                        <a href="../templates/index.html#top">
                            <li>HOME</li>
                        </a>
                        <a href="../templates/shop.html">
                            <li>SKINS SHOPS</li>
                        </a>

                    </ul>
                </div>
                <div class="header_contents_kinou">
                    <div class="kensaku">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    <a href="account.html">Login</a>
                    <a href="">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_wrapper">
            <h2>カート</h2>
        </div>
        <!-- ここにカートの内容 -->
         <div class="cart_kinou_flex">
         <p>合計商品点数:{商品点数}</p>
         <p>すべての商品を削除</p>
        </div>
        <div class="sum">
            <p>小計 ￥{}JPY</p>
        </div>
        <!-- 商品なし -->
         <p>カートに商品が商品がありません</p>

        <div class="buy_button">
        <a href="buy.html">購入手続きに進む</a> <!-- カートに商品が入っていないときはボタン押せない -->
    </div>
    </main>
    <footer>
        <div class="footer_title">
            <h2>Skin Uri</h2>
        </div>
    </footer>
</body>

</html>