<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="javascript" href="../statics/js/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>購入完了</title>
</head>
<body>
    <main>
        <div class="main_wrapper">
            <h2>購入完了</h2>
            <p>登録されたメールアドレス宛にご購入完了メールを送信しました</p>
            <p>ご利用ありがとうございました</p>
        </div>
        <div class="back_button">
            <button>
            <a href="./index.html#top">トップページに戻る</a>
            </button>
            <button><a href="./account.html">注文歴史を確認</a></button>
        </div>
    </main>
</body>
</html>