<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="javascript" href="../statics/js/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Skin Uri</title>
</head>

<body>
    <header>
        <!-- ヘッダーの背景と文字部分 -->
        <div class="header_wrapper">
            <div class="header_title">
                <h2>買えないをどこでも</h2>
                <h1>Skin Uri</h1>
            </div>
            <!-- ヘッダーのコンテンツ部分 -->
            <div class="header_contents_warapper">
                <div class="header_contents">
                    <ul>
                        <a href="">
                            <li>HOME</li>
                        </a>
                        <a href="../templates/shop.html">
                            <li>SKINS SHOPS</li>
                        </a>

                    </ul>
                </div>
                <div class="header_contents_kinou">
                    <div class="kensaku">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    <a href="../templates/account.html">Login</a>
                    <a href="./cart.html">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_wrapper">
            <h2 id="Gametitle">Game Title</h2>
            <div class="gametitle_list">
                <div class="game_contents">
                    <div class="game_images">
                        <!-- ゲームのタイトル画面が欲しい -->
                        <img src="../statics/images/sample.jpg" alt="">
                    </div>
                    <div class="game_title">
                        <p>サンプル</p>
                    </div>
                </div>
                <div class="game_contents">
                    <div class="game_images">
                        <!-- ゲームのタイトル画面が欲しい -->
                        <img src="../statics/images/sample.jpg" alt="">
                    </div>
                    <div class="game_title">
                        <p>サンプル</p>
                    </div>
                </div>
                <div class="game_contents">
                    <div class="game_images">
                        <!-- ゲームのタイトル画面が欲しい -->
                        <img src="../statics/images/sample.jpg" alt="">
                    </div>
                    <div class="game_title">
                        <p>サンプル</p>
                    </div>
                </div>
            </div>
            <h2>SKINS</h2>
            <div class="skin_list">
                <div class="slide">
                    <!-- 商品画像が欲しい -->
                    <img src="../statics/images/sanple1.png" alt="">
                    <div class="slide_contents">
                        <!-- 名前　価格 -->
                        <ul>
                            <li>FortNite</li>
                            <li>アイスブレーカー</li>
                            <li>500V</li>
                            <li>アンコモン</li>
                        </ul>
                    </div>
                </div>
                <div class="slide">
                    <img src="../statics/images/sample2.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../statics/images/sanple3.avif" alt="">
                </div>
            </div>
    </main>
    <footer>
        <div class="footer_title">
            <h2>Skin Uri</h2>
        </div>
    </footer>
</body>

</html>