<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="javascript" href="../statics/js/script.js">
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Skin Uri</title>
</head>

<body>
    <header>
        <div class="header_warapper">
            <div class="header_title">
                <h2>買えないをどこでも</h2>
                <h1>Skin Uri</h1>
            </div>

            <div class="header_contents_warapper">
                <div class="header_contents">
                    <ul>
                        <a href="">
                            <li>GAMES⇓</li>
                        </a>
                        <a href="">
                            <li>SKINS⇓</li>
                        </a>
                        <a href="">
                            <li>TOP SELLING</li>
                        </a>
                        <a href="">
                            <li>BLOG</li>
                        </a>
                    </ul>
                </div>
                <div class="header_contents_kinou">
                    <div class="kensaku">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    <a href=""><i class="fa-solid fa-user"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_warapper">
            <h1>Game Title</h1>
            <div class="gametitle_list">
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <div class="game_contents">
                    <a href="">
                        <div class="game_images">
                            <img src="../statics/images/sample.jpg" alt="">
                        </div>
                        <div class="game_title">
                            <h2>サンプル</h2>
                        </div>
                    </a>
                </div>
                <button>もっと見る(ハリボテ)</button>
            </div>
    </main>
</body>

</html>