<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="javascript" href="../statics/js/script.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Skin Uri-Shop</title>
</head>

<body>
    <header>
        <!-- ヘッダーの背景と文字部分 -->
        <div class="header_wrapper">
            <div class="header_title">
                <h2>買えないをどこでも</h2>
                <h1>Skin Uri</h1>
            </div>
            <!-- ヘッダーのコンテンツ部分 -->
            <div class="header_contents_warapper">
                <div class="header_contents">
                    <ul>
                        <a href="../templates/index.html#top">
                            <li>HOME</li>
                        </a>
                        <a href="../templates/shop.html">
                            <li>SKINS SHOPS</li>
                        </a>

                    </ul>
                </div>
                <div class="header_contents_kinou">
                    <div class="kensaku">
                        <a href="">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </div>
                    <a href="../templates/account.html">Login</a>
                    <a href="../templates/cart.html">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="toolbar">
            <div class="toolbar-section">
                <span class="toolbar-label">Category:</span>
                <div class="category-list" id="categoryList">
                    <button class="category-btn active" data-category="all">All</button>
                    <button class="category-btn active" data-category="Skins">Skins</button>
                    <button class="category-btn active" data-category="Weapons">Weapons</button>
                    <button class="category-btn active" data-category="Accessories">Accessories</button>
                    <button class="category-btn active" data-category="Others">Others</button>
                </div>
            </div>
            <div class="search-box">
                <input id="searchInput" type="text" placeholder="Search products..."/>
            </div>


            <div class="toolbar-section">
                <span class="toolbar-label">Sort by:</span>
                <select id="sortSelect" class="sort-select">
                <option value="none">Default</option>
                <option value="price-asc">Price: Low to High</option>
                <option value="price-desc">Price: High to Low</option>
                </select>
            </div>
        </section>

        <section id="productGrid" class="product-grid">
            <article
                class="product-card"
                data-name="Wireless Bluetooth Earbuds"
                data-category="electronics"
                data-price="299">

                <div class="product-image-wrap">
                    <img src="" alt="">
                </div>
                <h2 class="product-name">Item1</h2>
                <div class="product-meta">
                    <span class="product-price">$2.99</span>
                    <span class="product-category-tag">Skin</span>
                </div>
            </article>

            <article
                class="product-card"
                data-name="Basic White T-Shirt"
                data-category="fashion"
                data-price="79">

                <div class="product-image-wrap">
                    <img src="" alt="">
                </div>
                <h2 class="product-name">Item2</h2>
                <div class="product-meta">
                    <span class="product-price">$5.99</span>
                    <span class="product-category-tag">Accessory</span>
                </div>
            </article>

            <article
                class="product-card"
                data-name="Nordic Cushion"
                data-category="home"
                data-price="59">

                <div class="product-image-wrap">
                    <img src="" alt="">
                </div>
                <h2 class="product-name">Item3</h2>
                <div class="product-meta">
                    <span class="product-price">$3.99</span>
                    <span class="product-category-tag">Others</span>
                </div>
            </article>
        </section>

      

        <div id="noResult" class="no-result">
        No products found.
        </div>
           
    </main>
    <footer>
        <div class="footer_title">
            <h2>Skin Uri</h2>
        </div>
    </footer>
</body>

</html>